{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h4>Nombre d'article : {{ countarticle }}</h4>

                {% for message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for art in showarticle %}

                    <div class="article">
                        <a href="{{ path('article', {'id': art.id}) }}"><h3>{{ art.title }}</h3></a>
                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-calendar"></i> {{ art.creationdate|date("d/m/Y") }}</li>
                        </ul>

                        <div class="article-content">
                            {% if art.content|length > 600 %}

                                {{ art.content|truncate(600) }} <a href="{{ path('article', {'id': art.id}) }}">Voir plus</a>

                            {% else %}

                                {{ art.content }}

                            {% endif %}

                        </div>

                    </div>

                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Il n'y a aucun article. <a href="{{ path('add') }}">Ajouter un article</a>
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
